.formContainer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.formGroupmain{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.mainsection{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.personal{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px; 
}
.section {
  margin-bottom: 20px;
}

.detail {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin-bottom: 5px;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

.input:focus {
  border-color: #007bff;
}

textarea.input {
  resize: vertical;
  min-height: 80px;
}

@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
